<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <!-- カレントユーザー情報のmetaタグを追加 -->
    <meta name="current-user" content='<%= current_user.to_json(only: [:id, :name], methods: [:profile_image_url, :following_count, :followers_count]) %>'>
  </head>

  <body>
    <div id="header"></div>
    <%= render 'layouts/header' %>
    <% flash.each do |key, message| %>
      <div class="<%= key %>"><%= message %></div>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer'%>
  </body>
</html>
